doctype html
html(lang= 'ru')
  head 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= "Softline"
    link(rel="icon", type="image/x-icon" href="../favicon/favicon.ico")
    link(rel="stylesheet", href="../css/normalize.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="stylesheet", href="../css/scss/style.scss")
    script(src="../js/index.js", defer="defer")
  body.page 
    include parts/header
    section.about 
      include data/about
      .container.about__container
        h1.container__title Softline
        p.container__descr Ведущий поставщик IT-решений и&nbsp;сервисов.* Мы&nbsp;предлагаем комплексные IT-решения, облака, программное и&nbsp;аппаратное обеспечение, решения по&nbsp;цифровой трансформации и&nbsp;кибербезопасности, а&nbsp;также широкий спектр IT-услуг. 
        ul.about__list 
          each item in aboutData
            li.about__item 
              span.about__big-text= item.bigText
              span.about__span= item.text
    section.offices
      .offices--padding
        .offices__bg
        .container.offices__container
          include parts/regionsList
          include data/map
          include data/offices
          include parts/map
          .offices__top.shadow
            details 
              summary: h2.offices__subtitle.offices__btn#menu-btn Офисы Softline
              .offices__menu.shadow
                ul.offices__regions-list
                  each name in allRegions 
                    li.offices__region-item
                      +regionsList(name)
            ul.offices__list
              each item, index in allOffices
                if (index === 0)
                  li.offices__item 
                    input(type="radio", value=item.value, name="regions", id=`regions-${index}`, checked).offices__checkbox
                    label.offices__label(for!=`regions-${index}`)= item.title
                else
                  li.offices__item 
                    input(type="radio", value=item.value, name="regions", id=`regions-${index}`).offices__checkbox
                    label.offices__label(for!=`regions-${index}`)= item.title
          .offices__map
            +svg-map()
    section.mission
      .mission--padding
        .container.mission__container 
          .mission__content
            h2.subtitle.subtitle--white.mb-40 Миссия Softline
            p.mission__descr Мы&nbsp;помогаем организациям трансформироваться, работать эффективно и&nbsp;безопасно в&nbsp;условиях цифровой экономики.
    section.business 
      .container.business__container 
        h2.subtitle.mb-55 Направления бизнеса
        include parts/articleCard
        include data/business
        ul.business__list 
          each item in businessData
            li.business__item 
              +articleCard(item.title, item.text, item.className)
    section.compensation
      .container.compensation__container
        .compensation__block.shadow
          h2.subtitle.mb-50 Компенсационный пакет
          include parts/compensationCard
          include data/compensation
          .compensation__main
            ul.compensation__list 
              each item in mainC 
                li.compensation__item 
                  +compensationCard(item.title, item.className)
          .compensation__additional
            h4.compensation__subtitle.mb-50 Программа дополнительной мотивации
              br
              span.compensation__subtitle.compensation__subtitle--red доплата 12% от суммы
            ul.compensation__list 
              each item in additionalC 
                li.compensation__item 
                  +compensationCard(item.title, item.className)
    section.corporate 
      .container.corporate__container
        .corporate__top.mb-55 
          h2.subtitle Корпоративная жизнь
          .corporate__btn-block#customize-controls 
            .corporate__btn.corporate__prev.swiper-button-prev
            .corporate__btn.corporate__next.swiper-button-next 
        .corporate__slider.swiper 
          .corporate__wrapper.swiper-wrapper
            each num in ['1', '2', '3', '4', '5']
              .corporate__slide.swiper-slide 
                img(id=`slide-${num}` src=`../assets/images/corporate-${num}.png`, alt="Корпоративная жизнь")
          .corporate__indicators.swiper-pagination








